.cadastro-colaborador-page {
  .p-tabview .p-tabview-nav {
    background: #e9f0ff; /* leve azul para aproximar o cabeçalho */
  }
  .info-banner {
    border-radius: 6px;
    background: #e9f7e9; /* verde claro */
    border: 1px solid #c8e6c9;
  }
}