<a class="nt-skip-link" href="#main-content">Pular para o conteúdo principal</a>

<div
  class="matero-container-wrap"
  [class.matero-sidenav-collapsed]="options.sidenavCollapsed && !isOver && options.navPos !== 'top'"
  [class.matero-navbar-side]="options.navPos === 'side'"
  [class.matero-navbar-top]="options.navPos === 'top'"
  [class.matero-header-above]="options.headerPos === 'above'"
  [class.matero-header-fixed]="options.headerPos === 'fixed'"
  [dir]="options.dir"
>
  <ng-progress ngProgressRouter />

  <!-- Header Above -->
  @if (options.showHeader && options.headerPos === 'above') {
    <app-header
      (toggleSidenav)="onSidenavToggle()"
      (toggleSidenavNotice)="sidenavNotice.toggle()"
      [showBranding]="true"
    />
  }

  <mat-sidenav-container class="matero-container" autosize>
    <mat-sidenav
      #sidenav
      class="matero-sidenav transition-colors duration-200 {{options.menuThemeClass || '!bg-[var(--p-surface-0)] dark:!bg-[var(--p-surface-900)]'}}"
      [mode]="isOver ? 'over' : 'side'"
      [opened]="options.navPos === 'side' && (isOver ? mobileSidenavOpened : options.sidenavOpened)"
      (openedChange)="onSidenavOpenedChange($event)"
      (closedStart)="onSidenavClosedStart()"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      <app-sidebar
        [showToggle]="!isOver"
        [showUser]="false"
        [showHeader]="isOver"
        [toggleChecked]="isOver ? false : options.sidenavCollapsed"
        (toggleCollapsed)="toggleCollapsed()"
        (closeSidenav)="closeMobileSidenav()"
      />
    </mat-sidenav>

    <mat-sidenav #sidenavNotice position="end" mode="over">
      <app-sidebar-notice />
    </mat-sidenav>

    <mat-sidenav-content #content class="matero-content">
      @if (options.showHeader && options.headerPos !== 'above') {
        <app-header
          [showToggle]="!options.sidenavCollapsed && options.navPos !== 'top'"
          [showBranding]="options.navPos === 'top'"
          (toggleSidenav)="onSidenavToggle()"
          (toggleSidenavNotice)="sidenavNotice.toggle()"
        />
      }

      @if (options.navPos === 'top') {
        <app-topmenu />
      }

      <app-breadcrumb />

      <main id="main-content" class="matero-page-content" tabindex="-1">
        <router-outlet />
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
