@use '../../../styles/grid/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.matero-sidebar-header {
  overflow: hidden;

  mat-toolbar {
    width: var(--sidenav-width);
    padding: 0 0.5rem;
    background-color: transparent !important; // Garante que misture com a sidebar branca
  }

  // Remove redundant padding in the slide toggle
  mat-slide-toggle .mdc-label {
    display: none;
  }
}

.matero-sidebar-main {
  flex: 1;
  padding: 0 0.5rem 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

  @include breakpoints.bp-lt(small) {
    & {
      height: calc(100% - var(--mat-toolbar-mobile-height));
    }
  }
}

.matero-sidebar-footer {
  padding: 0.5rem;
  border-top: 1px solid var(--body-background-color); // Use variable or transparent border
}

